<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3703777379925275</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.897002773112-tao2lmgkqia62vlt448o7fs26d99774r</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3703777379925275</string>
	<key>FacebookClientToken</key>
	<string>9081e4ea15f08e7d5e1bf43f65ede4c4</string>
	<key>FacebookDisplayName</key>
	<string>CalmTrade</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>com.googleusercontent.apps</string>
			<string>com.google.gppconsent.deepLink</string>
		</array>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Thin.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-ExtraLight.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Outfit-ExtraBold.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-Black.ttf</string>
	</array>
</dict>
</plist>
