<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.burnscapital.calmtradeapp.refresh</string>
		<string>com.burnscapital.calmtradeapp.processing</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.burnscapital.calmtradeapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CalmTrade</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1439790770608266</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.206278247451-k3bfkkfp4q2spec80napovapbno0tlih</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>panel.getcalmtrade.com</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>1439790770608266</string>
	<key>FacebookClientToken</key>
	<string>893bcbdd5f41249f62748adba97e1687</string>
	<key>FacebookDisplayName</key>
	<string>CalmTrade</string>
	<key>GIDClientID</key>
	<string>206278247451-k3bfkkfp4q2spec80napovapbno0tlih.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>com.googleusercontent.apps</string>
			<string>com.google.gppconsent.deepLink</string>
		</array>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Thin.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-ExtraLight.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Outfit-ExtraBold.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>processing</string>
		<string>fetch</string>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
